.Check {
  display: grid;
  justify-items: center;
  height: 29vh;
  width: fit-content;
  text-align: center;
}

h1 {
  letter-spacing: 5px;
  font-weight: inherit;
  font-size: 29px;
}

p {
  font-size: 20px;
}