@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
 border: 0;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 border: 0;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  font-family: 'Space Grotesk';
  color: #ffff;
  position: relative;
  z-index: 1;
}

.onebox {
  width: 30Vw;
  height: 100vh;
  background:linear-gradient(120deg, hsl(278, 71%, 15%), hsl(278, 96%, 18%), hsl(204, 65%, 29%),hsl(278, 75%, 27%)) ;
}

.twobox {
  width: 70Vw;
  height: 100vh;
  background: hsl(270, 3%, 87%);
}

main {
  display: flex;

  width: 86vw;
  height: 85vh;

  border: 1px red solid;
  background: #000000;

  position: absolute;
  z-index: 2;
}

/*Cartão Front */
.Card {
  display: flex;
  width: 43vw;
  background: #ff0000;

  position: relative;
}

.cardFront {
  background: #9b4b4b;
  width: 50vw;
}

.cardBack {
  background-color: aqua;
  width: 50vw;
}

form {
  width: 43vw;
  background: #ffffff;
}