@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
 border: 0;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 border: 0;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  font-family: 'Space Grotesk';
  color: #ffff;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.onebox {
  width: 30Vw;
  height: 100vh;
  background:linear-gradient(120deg, hsl(278, 71%, 15%), hsl(278, 96%, 18%), hsl(204, 65%, 29%),hsl(278, 75%, 27%)) ;
}

.twobox {
  width: 70Vw;
  height: 100vh;
  background: hsl(270, 3%, 87%);
}

/*Principal*/
main {
  display: flex;

  width: 86vw;
  height: 85vh;

  border: 1px red solid;
  background: #000000;

  position: absolute;
  bottom: 3rem;
  z-index: 2;
}

/*Cartão Front */
.Card {
  display: grid;

  height: 85vh;
  width: 43vw;
  gap: 1rem;
  background: transparent;
  border-radius: 20px;
}

.Front {
  justify-self: start;
  background: url(./Assets/images/bg-card-front.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 32.7vw;
  height: 36.7vh;
  border-radius: 17px;
}

.Back {
  justify-self: right;
  background: url(./Assets/images/bg-card-back.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 32.7vw;
  height: 36.7vh;
  border-radius: 17px;
}

/*Form*/
form {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 43vw;
  background: #ff0000;
}

.Date {
  display: flex;
  gap: 10px;
}