@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
 border: 0;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Space Grotesk';
}

body {
 border: 0;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  font-family: 'Space Grotesk';
  color: #ffff;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

.onebox {
  width: 30Vw;
  height: 100vh;
  background:linear-gradient(120deg, hsl(278, 71%, 15%), hsl(278, 96%, 18%), hsl(204, 65%, 29%),hsl(278, 75%, 27%)) ;
}

.twobox {
  width: 70Vw;
  height: 100vh;
  background: hsl(270, 3%, 87%);
}

/*Principal*/
main {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 9rem;

  width: 86vw;
  height: 85vh;

 

  position: absolute;
  bottom: 3rem;
  z-index: 2;
}

/*Cartão Front */
.Card {
  display: grid;

  height: 85vh;
  width: 43vw;

  gap: 1rem;
  background: transparent;
  border-radius: 20px;
}

/*Form*/
form {
 display: grid;
 justify-content: center;
 align-items: center;


 height: 55%;
 width: fit-content;
}

.columnOne, .columnTwo{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
/*input Cardholdername, input Number*/
.Name, .Number {
  width: 25.5vw;
  height: 5vh;
  border-radius: 5px;
}

label {
 display: flex;
 font-family: 'Space Grotesk'; 
 font-weight: 500;
 font-size: 13px;
 letter-spacing: 1px;
}

input {
  outline: none;
  border: 1px solid hsl(249, 99%, 64%);
  padding: 0 0 0 10px ;
  letter-spacing: 2px;
}

input:focus {
  font-family: 'Space Grotesk';
  padding: 0 0 0 10px ;
  letter-spacing: 2px;
  font-weight: 500;
  border: 2px solid hsl(278, 94%, 30%);
} 

input::placeholder{
  font-family: 'Space Grotesk';
  padding: 0 0 0 10px ;
  letter-spacing: 2px;
  font-weight: 500;
}

.DefaultName, .DefaultNumber, .DefaultDate {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 13px;
  color:  hsl(249, 80%, 36%);
}

.Date {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.labels {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.Info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  width: fit-content;
}

.Day {
  height: 4vh;
  width: 7vw;
  border-radius: 5px;
}

.Cvc {
  height: 4vh;
  width: 10vw;
  border-radius: 5px;
}

.state {
  display: flex;
  flex-direction: column;
}

.Confirm {
  height: 7vh;
  border-radius: 8px;

  background:  hsl(278, 68%, 11%);
  color: hsl(0, 0%, 100%) ;

  font-size: 15px;
  font-weight: 700;
}
/*Cartões*/

/*FrontCard*/
.Front {
  display: grid;
  justify-self: start;
  background: url(./Assets/images/bg-card-front.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 32.7vw;
  height: 36.7vh;
  border-radius: 10px;
}

.Front img {
  padding: 20px 0 0 30px;
}

.ForntCardInfo {
  display: flex;
  gap: 5rem ;
  width: 90%;
}

.TimeReal {
  display: grid;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 97%;
  
  color: #ffff;
}

.TranspNumber {
  font-size: 30px;
  font-family: 'Space Grotesk';
  font-style: unset;
  letter-spacing: 1px;
}

.TimeReal div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.TranspName {
  font-family: 'Space Grotesk';
  font-style: unset;
  letter-spacing: 1px;
}

.TranspDate {
  font-style: unset;
  letter-spacing: 1px;
}
/*Back Card*/
.Back {
  justify-self: right;
  background: url(./Assets/images/bg-card-back.png) no-repeat;
  background-size: cover;
  background-position: center;
  width: 32.7vw;
  height: 36.7vh;
  border-radius: 10px;
}

.Back div {
  height: 100%;
  width: 85%;

  display: grid;
  justify-content: right;
  align-items: center;
}

.Back div span {
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: inherit;
  color: #ffff;
}